<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
  </head>
  <body>
    <div class="container">
      <h1>About Us</h1>
      <p>
        This is a Todo list app that helps track you task to be done by you
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sed
        sapiente molestiae suscipit, corrupti voluptatum dolorem quaerat
        consectetur ipsa inventore nesciunt.
      </p>
    </div>
  </body>
</html>
